@import "../../scss/index.scss";

.left-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100vh;
  border-right: 1px solid $border-grey;

  .logo {
    width: 50px;
    padding: 20px 0 30px 0;
  }

  a {
    font-size: 20px;
    color: $font-light;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $primary;
    }

    // svg es el texto suelto
    svg {
      margin-right: 20px;
      width: 30px !important;
    }
  }

  button {
    width: 80%;
    border-radius: 50px;
    font-size: 18px;
    padding: 10px;
    margin-top: 30px;
    font-weight: bold;
  }

  .logout{
    padding: 7px 0 3px;
    text-align: center;
    width: 10%;
    // width: 223px;
    display: block;
    position: fixed;
    clear: both;
    bottom: 0;
    color: #fff;

    svg {
      position: absolute;
      padding: 5px 10px;
      line-height: 20px;
      font-size: 20px;
      border-radius:0px;
      transition: opacity 0.5s ease;
    }
    svg:hover{
      // background-color: rgba(21, 24, 36, 0.911);
      // border-radius:0px;
      border-radius: 100%;
      color: red;
      opacity: 0.7; /* Establece la opacidad a 0.7 en el hover */
    }
  }
}