@import "../../scss/index.scss";

.signin-signup {
  &__left {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-light;
    background-image: url("../../assets/png/fondo-texturado.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    img {
      position:absolute;
      width: 38%;
      justify-content: center;
      display: flex;
      align-items: center;
      -webkit-filter: brightness(90%);
      filter: brightness(90%); // Filtro de brillo
    }

    div {
      z-index: 1;

      h2 {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin-bottom: 40px;
        font-weight: bold; // negrita
        -webkit-text-stroke: 1px #272a35; // bordes
        color: #fff;

        svg {
          margin-right: 20px;
          font-size: 30px;
          width: 40px !important;
        }
      }
    }
  }

  &__right {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: $primary-dark;

    div {
      width: 500px;
      margin: auto;
      justify-content: center;

      img {
        width: 25%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      
      text {
        filter: url(#filter);
        fill: $primary;
        font-family: 'Roboto Condensed', 'Share Tech Mono', sans-serif;
        font-size: 850%;
        // -webkit-font-smoothing: antialiased;
        // -moz-osx-font-smoothing: grayscale;
        // display: ;
      }
      svg{
        margin-bottom: 40px;
        width: 100%;
        height:100px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        justify-content: center;
        // display: block;
      }

      @media (max-width: 768px) {
        /* Estilos para dispositivos móviles */
        text {
          font-size: 450%;
          align-items: center;
        }
      }
      
      h1{
        font-family: 'Roboto Condensed', 'Share Tech Mono', sans-serif;
        text-align: center;
        font-weight: bold;
        font-size: 100px; 
        color: #1278BF; 
        text-shadow: 0px 0px 100px #508AD3;
      }

      h2 {
        // font-weight: bold;
        font-size: 15px;
        text-align: center;
        margin-bottom: 30px;
        font-family: 'Roboto Condensed', 'Share Tech Mono', sans-serif;
      }

      h3 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 30px;
        font-family: 'Share Tech Mono', sans-serif;
      }

      button {
        display: block;
        width: 100%;
        border-radius: 50px;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Roboto Condensed', 'Share Tech Mono', sans-serif;
        padding: 10px 0;

        &:first-of-type {
          margin-bottom: 20px;
        }
      }
    }
  }
}



