@import "../../scss/index.scss";

.signin-signup {
  &__left {
    overflow: hidden;
    min-height: 100vh;
    background-color: $primary-light;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position:absolute;
      width: 35%;
      justify-content: center;
      display: flex;
      align-items: center;
      -webkit-filter: brightness(90%);
      filter: brightness(90%); // Filtro de brillo
    }

    div {
      z-index: 1;
      // margin-top: -40%;

      h2 {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin-bottom: 40px;
        font-weight: bold; // negrita
        -webkit-text-stroke: 1px #272a35; // bordes
        color: #fff;

        svg {
          margin-right: 20px;
          font-size: 30px;
          width: 40px !important;
        }
      }
    }
  }

  &__right {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: $primary-dark;

    div {
      z-index: 2;
      width: 500px;
      margin: 0 auto;
      justify-content: center;

      img {
        width: 25%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      
      /*
      h1 {
         text-align: left; 
         font-family: Arial Black; 
         font-weight: bold;
         font-size: 100px;
         color: #fff;
         text-shadow: 0 1px 0 #afadad, 0 2px 0 #afadad, 0 3px 0 #3d3b3b, 0 4px 0 #464343, 0 5px 0 #afadad, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
      }
      */

      h1{
        font-family: Arial Black; 
        text-align: left;
        font-weight: bold;
        font-size: 100px; 
        color: #1278BF; 
        text-shadow: 0px 0px 100px #508AD3;
      }

      h2 {
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 70px;
      }

      h3 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 30px;
      }

      button {
        display: block;
        width: 100%;
        border-radius: 50px;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 0;

        &:first-of-type {
          margin-bottom: 20px;
        }
      }
    }
  }
}