@import "../../scss/index.scss";

.sign-in-form {
  h2 {
    font-family: 'Roboto Condensed', 'Share Tech Mono', sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 10px;
    text-align: center;
  }

  .form-control{
    background-color: $primary-dark;
    border-radius: 0;
    border: 0;
    border-bottom: 1.5px solid $primary;
    color: #fff !important;
    margin: 15px 0px 15px 0px;
  }
  .form-control:hover{
    border-bottom: 4px solid $primary;
  }

  .form-group {
    padding-bottom: 20px;
    font-family: 'Roboto Condensed', 'Share Tech Mono', sans-serif;

    input {
      font-size: 20px;
    }
  }

  button {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    border-radius: 50px;
    margin-top: 30px;

    .spinner-border {
      width: 25px;
      height: 25px;
    }
  }
}