@import "./scss/index.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-grey-dark;
  color: $font-light
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  box-shadow: none !important;
}

// Color de los botones
.btn.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: #fff;
  &:hover {
    background-color: #0466c8 !important;
    border-color: #0466c8;
  }
}

.btn.btn-outline-primary {
  border-color: #979dac;
  background-color: #979dac;
  color: #fff;
  &:hover, &:active, &:focus {
    background-color: #5c677d !important;
    border-color: #5c677d;
  }
}

.btn.btn-password {
  position: absolute;
  top: 115px;  
  right: 55px;
  background-color: transparent !important;
  border-radius: 100%;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  margin:0 5px;
  width: 34px;
  height: 34px;
  text-align: center;
  padding: 0 5px;
  line-height: 20px;
  font-size: 20px;
  border:none;
}
.btn.btn-password:hover{
  background-color: #33415c !important;
  border:none;
  border-radius: 100%;
}


input.form-control,
textarea.form-control {
  background-color: $background-dark-light;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid $border-grey;
  color: $font-light !important;
  margin: 15px 0px 15px 0px;

  &:focus {
    background-color: $background-dark-light;
    box-shadow: none;
    border-bottom: 1px solid $border-primary;
  }
}

.react-datepicker-wrapper {
  width: 100%;
  height: 38px;

  .react-datepicker__input-container {
    height: 100%;

    input {
      background-color: $background-dark-light;
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid $border-grey;
      color: $font-light !important;
      width: 100%;
      height: 100%;
      padding: 0 12px;
    }
  }
}