$primary: #0353a4;
$primary-clear: #006fdd;
$primary-light: #023e7d;
$primary-grey: #8799a6;
$primary-dark-light: #272a35;
$primary-dark-medium: #353947;
$primary-dark: #191b22;
$font-primary: $primary;
$font-light: #fff;
$font-grey: $primary-grey;
$font-dark: #000;

$border-primary: $primary;
$border-light: #fff;
$border-grey: #38444d; // Color del borde  de los input
$border-dark: $primary-dark;

$background-light: #fff;
$background-grey-dark: $primary-dark;
$background-dark-light: $primary-dark-light;

$danger: #e0245e;